.footer {
    background-color: white;
    display: flex;
    width: 423px;
    justify-content: space-around;
    color: #A7A9AC;
}

.footer__item {
    display: flex;
}

.footer__item img {
    padding-right: 5px;
}