.footer {
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    color: #A7A9AC;
    padding-top: 4px;
    padding-bottom: 4px;
}

.footer__item {
    display: flex;
    font-size: 18px;
}

.footer__item-img {
    padding-right: 5px;
}