.header {
    position: relative;
}

.header-img {
    display: block;
    margin: 0;
    padding: 0;
}

.header__text {
    position: absolute;
    bottom: 20px;
    left: 23px;
}

.header__location {
    font-size: 18px;
    font-weight: lighter;
}

.header__location-img {
    padding-right:5px;
}
