.header img {
    z-index: -1;
}

.header__title {
    margin-top: -80px;
    margin-left: 15px;
    line-height: 25px;
}

.header__location {
    margin-left: 15px;
    font-size: 18px;
}

.header__location img {
    padding-right:10px;
}
