.header {
    background-image: url("./Main_Picture.svg");
    width: 423px;
    height: 285px;
    color: white;
    font-family: Avenir Next;
    font-size: 32pt;
    margin-top: 200px;
}

.header__content p {
    padding: 0;
    margin: 0;
}

.header__content {
    padding: 0px;
    margin: 0px;
    padding-top: 175px;
    padding-left: 15px;}

.header__item {
    display: flex;
    font-weight: lighter;
    font-size: 18pt;
}

.header__item img {
    padding-right: 5px;
}